<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header"> </head>
<body>
<div class="container">

    <h1>
        Conference List
    </h1>
    <div th:each="conference : ${conferences}" class="list-group">
        <a th:href="@{'/conference/' + ${conference.id}}"  class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${conference.name}"></h5>
                <small th:text="${#strings.substring(conference.start,0,16)}    + '-' + ${#strings.substring(conference.end,0,16)}"></small>
            </div>
        </a>
    </div>

    <a th:href="@{/}">Home screen</a>>

    <a th:href="@{/new-conference}">Add conference</a>

</div>
<div lang="en" th:replace="footer"> </div>
</body>
</html>