
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header"> </head>
<body>
<div class="container">
<h1>
    Home
</h1>


<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
    
<a th:href="@{/conference}">Conference list</a>
<a th:href="@{/new-conference}">Add conference</a>

</div>
<div lang="en" th:replace="footer"> </div>
</body>
</html>