<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header"> </head>
<body>
<div class="container">
    <div id="content">
        <h1>Create event</h1>
        <form name="f" th:action='@{/event}' method="POST">
            <table>
                <tr><td>Name:</td><td>
                    <input type='text' name="name" value=""/></td></tr>
                <tr><td>Start date:</td><td>
                    <input type="text" name="startDate" placeholder="MM/DD/YYYY" value=""/></td></tr>
                <tr><td>End date:</td><td>
                    <input type="text" name="endDate" placeholder="MM/DD/YYYY" value=""/></td></tr>
                <tr><td>Description:</td><td>
                    <input type="text" name="description" value=""/></td></tr>
                <tr><td colspan="2">
                    <input name="submit" type="submit" value="Add event"/></td></tr>
            </table>
        </form>
        <a th:href="@{/}">Home screen</a>
    </div>

</div>
<div lang="en" th:replace="footer"> </div>
</body>
</html>
